<!Doctype html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="emp_data.js"></script>
</head>

<body ng-app = "emp_module" ng-controller = "emp_controller">

<center>
<select ng-model  = 'x1' >
  <option value selected = "+name">Name Ascending</option>
  <option value = "-name">Name Descending</option>
  <option value = "+age">Age Ascending</option>
  <option value = "-age">Age Descending</option>
  <option value = "+city">City Ascending</option>
  <option value = "-city">City Descending</option>
</select>

<br><br>

<table border = '1'>

<tr ng-repeat = "x in empdat | orderBy :x1">

<td> {{x.name | uppercase}} </td>
<td> {{x.age | currency}} </td>
<td> {{x.city | lowercase}} </td>
<td> 
<button ng-click = 'f1(x)' >Edit</button> </td>

</tr>
</table>

<br>

Name:<input type = "text" 
ng-model = "temp.name"
value = "{{temp.name}}"> <br>

Age:<input type = "text" 
ng-model = "temp.age"
value = "{{temp.age}}"> <br>

City:<input type = "text" 
ng-model = "temp.city"
value = "{{temp.city}}">

</center>

</body>

</html>










